<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Blog Posts</h1>
    <%= link_to "New Blog Post", new_blog_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posts" class="min-w-full">
    <%= render @blog_posts %>
  </div>
</div>

<%#= console %>
<div class="my-16">
  <%#== pagy_nav(@pagy) if @pagy.pages > 1 %>
  <% if @pagy.vars[:items].to_i < @pagy.count %>
    <%== pagy_nav(@pagy) %>
  <% end %>
</div>